html {
  scroll-behavior: smooth;
}

body {
  background-color: #ddd;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 50px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
}

h2 {
  font-size: 32px;
  line-height: 1.5;
}

nav ul {
  list-style-type: none;
}

/* 4a: List items should display horizontally with 20px of padding on the right side only
 */
nav li {
  display: inline;
  padding-right: 20px;
}

/* 4b: Links should have no underline.
 */
nav a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

/* 4c: When hovered over, links should have an underline */
nav a:hover {
  text-decoration:
    underline;
}

/* 3b: A “skip to content” link should be hidden until in focus. Then it should be positioned at the top. */
.skip a {
  background: white;
  left: 0;
  padding: 6px;
  position: relative;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

/* 3a: Div is absolutely positioned, margin is set 40px above the margin of the page so it is hidden when not focused. */
.skip {
  position: absolute;
  top: -40px;
}

/* 2a:Any element that are focusable by default (eg. links, inputs) should have a 2px solid black border when focused.  Use a generic selector. */
body *:focus {
  border: 2px solid black;
}


footer {
  background-color: black;
  color: white;
  grid-column: 1 / -1;
  /*Can you explain what this does?*/
  grid-row: 7 / auto;
  /*Can you rewrite it?*/
  padding-top: 30px;
  text-align: center;
}

/* 5: Mobile/default view: Grid container (container class) has 3 formatted columns of 100px, 500px, and 100px; and 7 rows - one of 30px, five rows of auto, and one last row of 100px. (Provided)*/
/* Container has a gap between grid rows of 15px */
.container {
  grid-template-rows: 30px auto auto auto auto auto 100px;
  grid-template-columns: 100px 500px 100px;
  width: 100vw;
  row-gap: 15px;
}

/* The nav class should have the following styles
The default  (hence from mobile) view:
Navigation is left aligned and centered vertically. 20px padding on top and bottom only.
Navigation begins in the first column and ends in the last column.
Begins on row 1 and spans only 1 row.
 */

.nav {
  grid-column: 1/ span all;
  grid-row: 1/ span 1;
  /*Provided*/
  background-color: #ddd;
  padding: 20px 0 20px 0;
  text-align: left;
  align-self: center;
}

header {
  background-attachment: fixed;
  /* Parallax effect */
  background-image: url(images/header.jpg);
  /* Your code here - Link to header.jpg in the images folder */
  background-position: center;
  /* Parallax effect */
  background-repeat: no-repeat;
  /* Parallax effect */
  background-size: cover;
  /* Parallax effect */
  color: white;
  height: 400px;
  /* Parallax effect */
grid-column: 1 /span all;
}

header p {
  color: white;
  font-size: 24px;
  padding: 0 100px;
  text-align: center;
}

.about-image {
  /*Your code here */

}

.about-image {
  grid-column-start: 1 span auto;
  grid-row-start: 3 span 1;
  max-height: 700x;
  overflow: hidden;
}

.about {
  grid-column-start: 2 span 1;
  grid-row-start: 3 span 1;
}

.method-image {
  grid-column-start: 2 span 1;
  grid-row-start: 3 span 1;
}

.method {
  grid-column-start: 2 span 1;
  grid-row-start: 3 span 1;
}

.clients-image {
  /*Your code here */
}

.clients {
  /*Your code here */
}

.contact-image {
  /*Your code here */
}

.contact {
  /*Your code here */
}

/* 5a: (5b:) The text-block class should be centered vertically and horizontally (think css grid) with 30px padding on all sides */
/* display:block? */
.text-block {
  justify-self: center;
  align-self: center;
  background-color: rgba(255, 255, 255, .8);
  border: 10px solid black;
  padding: 30px;
}


/* 5b: (5c:) Media queries should be included:
i. Styles of windows 800px or wider (henceforth referred to as desktop)
1. Grid container (container class) has 5 formatted columns of 50px, auto, 500px, auto, and 50px; and 7 rows - one of 70px, 5 rows of 400px, and one last row of 100px. */
/*
@media screen and (min-width: 800px) {
  .container {
    grid-template-rows: 70px 400px 400px 400px 400px 400px 100px;

    grid-template-columns: 50px auto 500px auto 50px;
  }


  .nav {
    background-color: #ddd;
    padding: 20px 0 20px 0;
    grid-column-start: span 1;

  }

  .about-image {}

  .about {}

  .method-image {}

  .method {}

  .clients-image {}

  .clients {}

  .contact-image {
  }

  .contact {
  }

}

/*End the media query*/

/* 5bii1: (5cii1:) Styles for preferred motion reduction
In-page links should “jump” to page content instead of scroll
 
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  .skip a {
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    z-index: 1;
  }

  .skip a:focus {
    top: 0;
  }
}
*/